.header-search {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}
@media only screen and (max-width: 1200px) {
  .header-search {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 768px) {
  .header-search {
    align-items: center;
  }
}
