#login_form {
  margin: 0 auto;
  position: relative !important;
  right: 50px;
}

.submit_login {
  position: relative;
  left: 50px;
  width: fit-content;
  align-self: center;
}

.signIn-header {
  text-align: center;
}

.redirectToSignUp {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  padding-top: 1rem;
}

@media screen and (max-width: 575px) {
  #login_form {
    margin: 0 auto;
    position: static;
    right: 0;
  }

  .redirectToSignUp {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding-top: 1rem;
  }

  .submit_login {
    position: static;
    left: 0;
    width: fit-content;
    align-self: center;
  }
}
