#login_form {
  margin: 0 auto;
  position: relative !important;
  right: 50px;
}

@media only screen and (max-width: 575px) {
  #login_form {
    justify-content: flex-end;
    position: static;
    width: 90%;
  }

  .submit_login {
    margin-right: auto !important;
    margin-left: -127px !important;
  }
}

.signIn-header {
  margin-right: 30px;
}

.redirectToSignUp {
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  .ant-form-item-required {
    word-wrap: break-word;
    white-space: break-spaces;
  }
}

@media only screen and (max-width: 700px) {
  #login_form {
    right: auto;
  }
}

.ant-form-item-control-input-content {
  margin-right: 20px;
}

.ant-row.ant-form-item-row.css-dev-only-do-not-override-19gw05y {
  overflow: hidden;
}
