.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  display: block;
  width: 250px;
  min-width: 200px;
}
.logo-img {
  width: 100%;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #4b54fec1);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #49d8ffaa);
}

.block-btns a {
  padding: 8px 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.block-btns a:last-child {
  margin-right: 0;
}
.active {
  color: red;
}
