.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.block-btns a {
  padding: 8px 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.block-btns a:last-child {
  margin-right: 0;
}
.active {
  color: red;
}
